body{
    
    margin: 0;
    padding: 0;
    background: white;
}

.loading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100px;
    display: flex;
    align-items: center;
}

.obj-loading{
    width: 6px;
    height: 40px;
    background:#d35400;
    margin: 0 3px;
    border-radius: 10px;
    animation: loading 0.8s infinite;
}

.obj-loading:nth-child(2){
    animation-delay: 0.1s;
}
.obj-loading:nth-child(3){
    animation-delay: 0.2s;
}
.obj-loading:nth-child(4){
    animation-delay: 0.3s;
}
.obj-loading:nth-child(5){
    animation-delay: 0.4s;
}
.obj-loading:nth-child(6){
    animation-delay: 0.5s;
}
.obj-loading:nth-child(7){
    animation-delay: 0.6s;
}
.obj-loading:nth-child(8){
    animation-delay: 0.7s;
}

@keyframes loading {
    0%{
        height: 0;
    }
    50%{
        height: 40%;
    }
    100%{
        height: 0;
    }
}
