*{
    margin:0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

footer{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;

}

.footer-container{
    width: 100%;
    background: rgb(230, 163, 194);
    color: #ffffff;
}

.footer-main{
    width: 98%;
    max-width: 1000px;
    margin: auto;
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
}

.footer-main .footer-coluna{
    width: calc(100% /3);
    text-align: justify;
}
.footer-main .footer-coluna:nth-child(2){
    padding: 0 20px;
}

.footer-main .footer-coluna h3{
    font-size: 32px;
    color: #ffff;
    margin-bottom: 20px;
}

.footer-main .footer-coluna span p{
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 15px;font-family: Arial, Helvetica, sans-serif
}

.footer-copy-redes{
    width: 100%;
    background:rgb(233, 147, 187);
    border-top: 3px solid #fff;
}

.main-copy-redes {
    width: 98%;
    max-width: 1000px;
    padding: 15px 0;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    align-items: center;

}

.main-copy-redes .footer-copy{
    width: 70%;
    color: #fff;
}
.main-copy-redes .footer-redes{
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    
}

.main-copy-redes .footer-redes a{
    display: inline-block;
    text-decoration: none;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background: #fff;
    color:black;
    text-align: center; 
}

.footer-coluna ul{
    list-style-type: none;
}

.footer-coluna ul li a{
    color: #fff;
    text-decoration: none;
    padding: 10px;
    line-height: 10px;
    text-align: center;
    margin: auto;
}

.footer-coluna a{
    text-align: center;
}

.footer-coluna ul li a :hover{
    color: rgb(221, 221, 221);

}
.card{
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
}

.card img{
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    padding: 3px;

}

@media screen and (max-width: 750px){
    .info-main{
        padding: 30px 100px;
    }

    .footer-main .footer-coluna{
        padding: 0 10px;

    }
    .footer-main .footer-coluna h3{
        font-size: 28px;
    }
    .footer-main .footer-coluna p{
        font-size: 14px;
    }
}

@media screen and (max-width: 640px){
    .info-main{
        padding: 30px 30px;
    }
    .info-main h3{
        font-size: 30px;
    }
    .footer-main {
        padding: 10px 0;
    }
    .footer-main .footer-coluna{
        width: 100%;
        text-align: center;
        margin: 10px 0;
    }
    .footer-main .footer-coluna{
        margin-bottom: 5px;
    }
    .footer-main .footer-coluna span {
        display: block;
    }

    .main-copy-redes .footer-copy{
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    .main-copy-redes .footer-redes{
        width: 80%;
        margin: auto;
    }
}