/* Creat by Lucas Aragão */

body {
    margin: 0;
    padding: 0;
    background: #000;
}

.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text h2{
    font-family: 'Montserrat', sans-serif;
   
    color: #ffffff;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5vh;

    
}

.box span {
    display: block;
    width: 50px;
    height: 50px;
    border-bottom: 1px solid #ffffff;
    border-right: 1px solid #ffff;
    transform: rotate(45deg); 
    margin: -10px;
    animation: animate 2s infinite;

}

.box span:nth-child(2){
    animation-delay: -0.3s
}
.box span:nth-child(3){
    animation-delay: -0.6s
}

@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}